body {
    background: url(background.jpg) center top no-repeat;
    font-family: 'a_AvanteRough Light', serif;
}


.title {
    margin-top: 20px;
}

h1 {
    text-transform: uppercase;
    font-size: 26px;
    text-align: center;
    font-weight: normal;
}

h2 {
    text-align:center;
    font-weight: normal;
}

div.form {
    width: 424px;
    margin: 0 auto;
    padding-left: 10px;
}

.field {
    margin: 15px 0;
}

div.button {
    text-align: right;
}

.field input,
.field select {
    width: 282px;
    float: right;
    border: 1px solid #ccc;
    border-radius: 2px;
}

.field input {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
